.badge {
  font-size: 0.8em;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #007bff; /* Couleur de fond du badge */
  color: #fff; /* Couleur du texte du badge */
  margin-left: 5px; /* Ajustement de l'espacement entre le label et le badge */
}




.container {
  width: 50%; /* Ajustez la largeur selon vos besoins */
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="tel"],
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-success {
  background-color: #28a745;
  color: white;
}

.btn-outline-secondary {
  background-color: transparent;
  border: 1px solid #6c757d;
  color: #6c757d;

}

.btn-success:hover,
.btn-outline-secondary:hover {
  opacity: 0.8;
}

